set easymotion

set nu rnu

vmap <leader>c "+y
nmap <leader>w :w<CR>
nmap <leader>q :q<CR>

"space to command mode.
nnoremap <space> :
vnoremap <space> :

" 格式化代码
:map <leader>r :action ReformatCode<CR>

"优化包导入
:map <leader>o :action OptimizeImports<CR>

" Debug运行
:map <leader>d :action Debug<CR>

" 在当前行切换断点
:map <leader>b :action ToggleLineBreakpoint<CR>

" 跳转到实现
:map gi :action GotoImplementation<CR>

" 跳转到定义
:map gd :action GotoDeclaration<CR>

" 重命名
:map rn :action RenameAttributeAction<CR>
