set easymotion
set nu rnu
set ideajoin

" 设置leaderkey
let mapleader = " "

vmap <leader>c "+y
nmap <leader>w :w<CR>
nmap <leader>q :q<CR>

" 格式化代码
:map <leader>rf :action ReformatCode<CR>

" 代码回滚
:map <leader>vrb :action Vcs.RollbackChangedLines<CR>

" Run
:map <leader>vrr :action RunDashboard.Run<CR>

"优化包导入
:map <leader>o <Action>(ToggleLineBreakpoint)

" Debug运行
:map <leader>d <Action>(Debug)
:map <leader>r <Action>(Run)
:map <leader>s <Action>(Run)

:map <leader>s <Action>(ShowIntentionActions)

" 在当前行切换断点
:map <leader>b :action ToggleLineBreakpoint<CR>

" undo and redo
:map u <Action>($Undo)
:map <C-r> <Action>($Redo)

" 跳转到实现
:map gi :action GotoImplementation<CR>

" 跳转到定义
:map gd :action GotoDeclaration<CR>

" 重命名
:map <leader>rn :action RenameElement<CR>

" 导航
:map <C-o> :action Back<CR>
:map <C-i> :action Forward<CR>

